.main {
    margin: 60px auto;
    width: 1020px;
    background-color: #685a46;
    font-family: Calibri;
}

span.logo {
    color: rgb(249, 249, 249);
    font-size: 32px;
    font-family: Calibri;
    text-transform: uppercase;
    word-spacing: -3px;
}


.logo span {
    color: #fc7560;
    font-weight: bold;
}

.SupportLogo {
    font-size: 14px;
    color: white !important;
    word-spacing: 0px;

}

.head-nav {
    float: right;
    list-style-type: none;
    clear: both;
    color: white;
}

.head-nav li {
    display: inline;
}

.head-nav li a{
    color: rgb(249, 249, 249);
    margin-right: 5px;
    text-decoration: none;
}

.navigation ul {
    list-style-type: none;
    text-align: center;
    background: rgb(111, 29, 29);
    padding: 5px 40px 5px 40px;
    border-radius: 5px;
}

.navigation li {
    display: inline;
}

.navigation li a {
    text-decoration: none;
    color: rgb(249, 249, 249);
    font-size: 25px;
    padding: 5px 40px 5px 40px;
    /*background: rgb(111, 29, 29);*/
    text-transform: uppercase;
}

.navigation li a:hover ,.btnSU input:hover,.btnSI input:hover,.checked{
    background: rgb(207, 55, 55);
} 


.signUp {
    float: left;
    background-color: #A94A4A;
    border-radius: 5px;
    width: 300px;
    height: 150px;
    padding: 64px;
    font-weight: bold;
    border: 2px solid;
}

.signUp input {
    padding: 7px;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
}

.btnSU {
    text-align: center;
}

.btnSU input {
    background-color: #6F1D1D;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    width: 170px;
}


.signIn {
    float: right;
    background-color: #A94A4A;
    border-radius: 5px;
    width: 300px;
    height: 150px;
    padding: 64px;
    font-weight: bold;
    border: 2px solid;
}

.signIn input {
    padding: 7px;
    border-radius: 5px;
    font-size: 16px;
    margin: 5px;
}

.btnSI {
    text-align: center;
}

.btnSI input {
    background-color: #6F1D1D;
    color: #ffffff;
    font-weight: bold;
    font-size: 15px;
    width: 170px;
}


input[id="BuyNow"]{
    background-color: #584F33;
    color: white;
    font-family: Calibri;
    width: 80px;
    height: 35px;
    text-transform: uppercase;
    border: 1px solid;
}

input[id="crash"]{
    background-color: #e4dbe0;
    color: #000000;
    font-family: Calibri;
    width: 80px;
    height: 35px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid rgb(51, 14, 14);
}


.featuredProduct {
    display: inline;
    clear: both;
}
.Product{
    display: inline-block;
    padding: 10px;
    background-color: #67491C;
}

.Product img{
    width: 165px;
    height: 221px;
}


.cart {
    float: right;
    width: 260px;
    clear: both;
    height: 400px;
}


#shoppingList {
    padding: 10px;
    color: white;
    font-weight: bold;
    font-family: Calibri,sans-serif;
    border: 2px solid #A07338;
    border-radius: 5px;
    height: 260px;
}


.btnDone,.btnPay {
    margin-top: 10px;
    background-color: rgb(88, 79, 51);
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    width: 200px;
    border: 1px solid;
}


.bill-sec table {
    font-family: Calibri, sans-serif;
    color:white;
    font-size: 18px;
    margin:auto;
}

.bill-sec input[type="text"] {
    border-radius: 5px ;
    font-size: 18px;
    padding: 3px;
    margin-top: 5px;
}

